.boton-clear{
    height: 40px;
    font-size: 1.6em;
    display: flex;
    flex: 1;
    background-color: #ff00ff;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border : 3px solid white;
    border-radius: 45px;
    cursor: pointer;

}

.boton-clear:hover{
    background-color: yellow;
}