.App{
   
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-color:darkgray;
    justify-content: center;
    align-items: center;
}

.cont-calculadora{
    width: 400px;
    height: 550px;
    padding: 14px;
    background-color:#87CEEB;
    border-radius: 20px;
    border: 5px solid white;


}
.fila{
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}